*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NewTelegraphRegular';
}


body{
    background: #FBDBAB;
}

#header{
    width: 100%;
    height: 100px;
}

#header-img{
    margin: 5px;
    margin-left: 20px;
}

img{
    width: 50px;
    height: 50px;
}

#nav-bar{
    width: 100%; 
    /* height: 100px; */
    display: grid;
    grid-template-columns: 2fr 1fr ;
    background-color: #503431;
    position: fixed;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

li a{
    text-decoration: none;
    color: #FBDBAB;
}



h1,form, .container-video{
    text-align: center;
}

#email{
    width: 250px;
    height: 25px;
}

h1{
    margin-top: 50px;
    font-size: 42px;
    font-weight: 700;
}

#form{
    margin: 10px;
    
}

#submit{
    width: 100px;
    height: 30px;
    background-color: #503431;
    border: none;
    color: #fff;
    border-radius: 2px;
}

.texto-img{
    margin: 0px 20px;
}
#inicio{
    margin: 100px;
    padding: 0px 100px;
}

.texto{
    display: flex;
    margin: 30px;
}

iframe{
    width:560px;
    height:315px;
}

.container-cart{
    display: flex;
    padding:100px;
}

.carta{
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.subtitle{
    background-color: #503431;
    width: 100%;
    padding: 10px;

    border-radius: 5px 5px 0px 0px;
}


.detalles{
    background-color: #EC8B4A;
    padding: 10px;
    border-radius: 0px 0px 5px 5px;
}
button{
    margin-top: 20px;
    width: 100px;
    height: 30px;
    background-color: #503431;
    border: none;
    color: #FBDBAB;
    font-size: 16px;
    font-weight: 500;
    border-radius: 2px;
}

button:hover{
    background-color: rgba(128, 128, 128, 0.591);
}

footer{
    background-color: #503431;
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 50px;
}

.footer-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 10px;
}


.copy{
    display: flex;
    text-align: end;
}

#end{
    width: 100%;
    margin-right: 45px;
}



/* desktop*/
@media screen and (max-width: 1200px){
    
}

/* laptop*/
@media screen and (max-width: 1023px) and (min-width: 769px){
    #precios{
        flex-direction: column;
    }
    .carta{
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}


/* Tablet*/
@media screen and (max-width: 768px) and (min-width: 481px){
    h1{
        margin: 0px 20px;
    }
    #inicio{
        flex-direction: column;
        margin: 0;
    }
    .texto{
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    iframe{
        width:400px;
        height:200px;
    }


    #precios{
        flex-direction: column;
    }
    .carta{
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}

/* mobile */
@media screen and (max-width: 480px) and (min-width: 300px){
    h1{
        margin: 0px 20px;
    }
    #inicio{
        flex-direction: column;
        margin: 0;
        padding: 10px;
    }
    .texto{
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    iframe{
        width:300px;
        height:150px;
    }


    #precios{
        flex-direction: column;
        padding: 10px;
    }
    .carta{
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .li{
        margin: 0 10px
    }

}